<%- include('../partials/header') %>

    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form 
                    action="/skills/<%= s.id %>?_method=DELETE"
                    method="POST" 
                    class="delete"
                >
                    <button type="submit">X</button>
                </form>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                <p>   —  </p>
                <p>Learning: <span><%= s.learning ? 'yes' : 'not yet' %></span></p>
            </li>
        <% }) %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>