<%- include('../partials/header') %>

    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                    -
                <p>Learning: <%= s.learning ? 'yes' : 'not yet' %></p>
            </li>
        <% }) %>
    </ul>

<%- include('../partials/footer') %>