<%- include('../partials/header') %>

    <h2><%= skill.skill %></h2>
    <h3>Am I currently learning it?</h3>
    <p class="answer"><%= skill.learning ? 'Yes' : 'Not yet' %></p>
    <br><br><br>
    <a href="/skills/<%= skill.id %>/edit">Edit</a>

<%- include('../partials/footer') %>